{% extends "base.html" %}

{% block core %}
    <div id="main" class="main">
        <span id="main-menu-button" class="btn-menu" onclick="openNav()">&equiv;</span>
        <div>
            <h1 class="header1 core_content">Admin User</h1>
        </div>
        <p class="core_content">Admin User</p>
        
        <form action="{{url_for('addAdminUser')}}" method="POST" class="core_content">
            <div id="admin_user_data">
                <table class="vertical_table">
                    <tr>
                        <td class="data">Username</td>
                        <td class="data">
                            <input class="input" type="text" id="input_username" name="username" placeholder="Username">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">First Name</td>
                        <td class="data">
                            <input class="input" type="text" id="input_first_name" name="first_name" placeholder="First Name">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Last Name</td>
                        <td class="data">
                            <input class="input" type="text" id="input_last_name" name="last_name" placeholder="Last Name">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Password</td>
                        <td class="data">
                            <input class="input" type="text" id="input_password" name="password" placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">E-Mail</td>
                        <td class="data">
                            <input class="input" type="text" id="input_email" name="email" placeholder="E-Mail">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Tag</td>
                        <td class="data">
                            <input class="input" type="text" id="input_tag" name="tag" placeholder="Admin User Tag">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Admin Type</td>
                        <td class="data">
                            <select id="sel_admin_type" name="admin_type">
                                <option value="0">
                                    Select Admin User Type
                                </option>
                                {% for type in types %}
                                    <option value="{{ type['id'] }}">
                                        {{ type['name'] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Admin Profile</td>
                        <td class="data">
                            <select id="sel_profile" name="profile">
                                <option value="" selected>
                                    -----
                                </option>
                                {% for prof in profiles %}
                                    <option value="{{ prof['id'] }}">
                                        {{ prof['name'] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn_submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock core %}
