<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Profile</h1>
    </div>
    <div class="row">
        <p class="core_content">Profile</p>
    </div>
    
    <div class="row">
        <form action="{{url_for('addProfile')}}" method="POST">
            <div id="profile_data">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" class="input" id="input_name" name="name" placeholder="Profile Name"">
                            </td>
                        </tr>
                        <tr>
                            <td>Tag
                        </td>
                        <td>
                            <input type="text" class="input" id="input_tag" name="tag" placeholder="Profile Tag">
                        </td>
                    </tr>
                </table>
            </div>
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock core %}