{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Task</h1>
    </div>
    <div class="row">
        <p>Task</p>
    </div>

    <div class="row">
        <form action="{{url_for('addTask')}}" method="POST">
            <div id="task_data">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input class="input" type="text" id="input_name" name="name" placeholder="Task Name">
                        </td>
                    </tr>
                    <tr>
                        <td class=" data">Tag</td>
                        <td>
                            <input class="input" type="text" id="input_tag" name="tag" placeholder="Task Tag">
                        </td>
                    </tr>
                    <tr>
                        <td>Exercise</td>
                        <td>
                            <select id="sel_exercise" name="exercise">
                                {% for ex in exercises %}
                                <option value="{{ ex['id'] }}">
                                    {{ ex['name'] }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>
{% endblock core %}