{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Add User</h1>
    </div>
    <div class="row">
        <p>Add User</p>
    </div>
    
    <div class="row">
        <form action="{{url_for('addUser')}}" method="POST">
            <div id="user_data">
                <table class="table">
                    <tr>
                        <td>Username</td>
                        <td>
                            <input class="input" type="text" id="input_username" name="username" placeholder="Username">
                        </td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input class="input" type="text" id="input_first_name" name="first_name"
                                placeholder="First Name">
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <input class="input" type="text" id="input_last_name" name="last_name" placeholder="Last Name">
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input class="input" type="text" id="input_password" name="password" placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>
                            <input class="input" type="text" id="input_email" name="email" placeholder="E-Mail">
                        </td>
                    </tr>
                    <tr>
                        <td>Tag</td>
                        <td>
                            <input class="input" type="text" id="input_tag" name="tag" placeholder="Tag">
                        </td>
                    </tr>
                    <tr>
                        <td>Profile</td>
                        <td>
                            <select id="sel_profile" name="profile">
                                {% for prof in profiles | sort(attribute='name')  %}
                                <option value="{{ prof['id'] }}">
                                    {{ prof['name'] }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
    
</div>
{% endblock core %}