<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Admin User {{ username }}</h1>
    </div>
    <div class="row">
        <p class="core_content">Admin User {{ username }}</p>
    </div>

    <div class="row">
        <form action="{{url_for('admin', id_ = id)}}" method="POST" class="core_content">
            <div class="table-responsive" id="admin_user_data">
                <table class="table vertical_table">
                    <tr>
                        <td class="data">Username</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_username" name="username" value="{{ username }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">First Name</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_first_name" name="first_name" value="{{ first_name }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Last Name</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_last_name" name="last_name" value="{{ last_name }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">E-Mail</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_email"
                                name="email" value="{{ email }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Tag</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                                name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Admin Type</td>
                        {% if editable %}
                        <td class="data">
                            <select id="sel_admin_type" name="admin_type">
                                {% for type in types | sort(attribute='name') %}
                                {% if admin_type['id'] == type['id'] %}
                                <option value="{{ type['id'] }}" selected>
                                    {{ type['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ type['id'] }}">
                                    {{ type['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td class="data">
                            <input class="input" type="text" id="input_admin_type" name="admin_type"
                                value="{{ admin_type['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="data">Admin Profile</td>
                        {% if editable %}
                        <td class="data">
                            <select id="sel_profile" name="profile">
                                {% if not profile[id] %}
                                {% endif %}
                                {% for prof in profiles %}
                                {% if prof['id'] == profile['id'] %}
                                <option value="{{ prof['id'] }}" selected>
                                    {{ prof['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ prof['id'] }}">
                                    {{ prof['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td class="data">
                            <input class="input" type="text" id="input_profile" name="profile"
                                value="{{ profile['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAdmin">Delete
                    Admin</button>
            </div>
            {% endif %}
        </form>
    </div>

    {% if editable %}
    <div class="modal fade" id="deleteAdmin" tabindex="-1" role="dialog" aria-labelledby="deleteAdminTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteAdminTitle">Delete Subject {{ name }} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Do you really wanna delete the Admin {{ username }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deleteAdmin', id_ = id)}}" method="POST" class="core_content">
                        <div id="modal-control-buttons">
                            <button name="delete-button" id="btn-deleteAdmin" class="btn btn-danger" type="submit"
                                value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock core %}