{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">

    <div class="container-fluid p-1">
        <div class="row">
            <div class="col-4" >
                <h1 class="h1 ">Administrators</h1>
            </div>
                
            {% if this.admin.check_permission('w', 'admin') %}
            <div class="col-4">
                <form action="{{ url_for('addAdmin') }}" method="GET">
                    <button class="btn btn-success float-end pull-right mt-2" type="submit">New Admin User</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <p class="core_content">Admin Users</p>
    </div>
    
    <div class="container_fluid">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Admin Type</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-Mail</th>
                    <th>Profile</th>
                    <th>Tag</th>
                </tr>
                {% for user in adminuser %}
                <tr>
                    <td class="data">
                        <a href="{{ url_for('admin', id_ = user['id']) }}">
                            {{ user["username"] }}
                        </a>
                    </td>
                    <td>{{ user["admin_type"]["name"] }}</td>
                    <td>{{ user["first_name"] }}</td>
                    <td>{{ user["last_name"] }}</td>
                    <td>{{ user["email"] }}</td>
                    <td>{{ user["profile"]["name"] }}</td>
                    <td>{{ user["tag"] }}</td>
                </tr>
                {% endfor %}
        
            </table>
        </div>
    </div>
</div>
{% endblock core %}