{% extends "base.html" %}

{% block core %}
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Admin User {{ username }}</h1>
    </div>
    <div class="row">
        <p class="core_content">Admin User {{ username }}</p>
    </div>
    
    <div class="row">
        <form action="{{url_for('admin', id_ = id)}}" method="POST" class="core_content">
            <div class="table-responsive" id="admin_user_data">
                <table class="table vertical_table">
                    <tr>
                        <td class="data">Username</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_username"
                                name="username" value="{{ username }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">First Name</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_first_name" name="first_name" value="{{ first_name }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Last Name</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_last_name"
                                name="last_name" value="{{ last_name }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">E-Mail</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_email"
                                name="email" value="{{ email }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Tag</td>
                        <td class="data">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                                name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Admin Type</td>
                        {% if editable %}
                        <td class="data">
                            <select id="sel_admin_type" name="admin_type">
                                {% for type in types | sort(attribute='name')  %}
                                {% if admin_type['id'] == type['id'] %}
                                <option value="{{ type['id'] }}" selected>
                                    {{ type['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ type['id'] }}">
                                    {{ type['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td class="data">
                            <input class="input" type="text" id="input_admin_type" name="admin_type"
                                value="{{ admin_type['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="data">Admin Profile</td>
                        {% if editable %}
                        <td class="data">
                            <select id="sel_profile" name="profile">
                                {% if not profile[id] %}
                                {% endif %}
                                {% for prof in profiles %}
                                {% if prof['id'] == profile['id'] %}
                                <option value="{{ prof['id'] }}" selected>
                                    {{ prof['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ prof['id'] }}">
                                    {{ prof['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td class="data">
                            <input class="input" type="text" id="input_profile" name="profile" value="{{ profile['name'] }}"
                                {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
            {% endif %}
        </form>
    </div>
   
    {% if editable %}
    <div class="row py-2">
        <form action="{{ url_for('deleteAdmin', id_=id) }}" method="GET">
            <button class="btn btn-danger" type="submit">Delete Admin</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock core %}