<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" href="../static/css/styling.css">
    -->
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling1.css') }}">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>CodeGrader</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
</head>

<body onload="loadMode()" class="min-vh-100">
    <script>
        /*
        function toggleMode() {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                document.documentElement.setAttribute('data-bs-theme', 'light')
                document.getElementById('light-mode-button').classList.add('active');
                document.getElementById('dark-mode-button').classList.remove('active');
                localStorage.setItem('theme', 'light');
            }
            else {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
                document.getElementById('light-mode-button').classList.remove('active');
                document.getElementById('dark-mode-button').classList.add('active');
                localStorage.setItem('theme', 'dark');
            }

        }
        */

        function setMode(color_mode) {
            document.documentElement.setAttribute('data-bs-theme', color_mode)
            localStorage.setItem('theme', color_mode);
        }

        function loadMode() {
            var color_mode = localStorage.getItem('theme') || 'dark';
            document.documentElement.setAttribute('data-bs-theme', color_mode)
            // console.log(color_mode);
            if (color_mode == 'dark') {
                document.getElementById('dark-mode-button').classList.add('active');
                document.getElementById('dark-mode-button').setAttribute("checked", "")
                document.getElementById('light-mode-button').classList.remove('active');
                document.getElementById('light-mode-button').removeAttribute("checked", "")

            }
            else {
                document.getElementById('light-mode-button').classList.add('active');
                document.getElementById('light-mode-button').setAttribute("checked", "")
                document.getElementById('dark-mode-button').classList.remove('active');
                document.getElementById('dark-mode-button').removeAttribute("checked", "")
            }
            localStorage.setItem('theme', color_mode);
        }
    </script>

    <div class="container-fluid d-flex flex-column min-vh-100">
        <div class="row">
            <header class="border-bottom bg-black text-white d-flex mb-auto d-0 py-2">
                <div class="container-fluid">
                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                        <div class="col align-items-start">
                            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidebar-wrapper"
                                aria-expanded="true" aria-controls="sidebar-wrapper">
                                <i class="bi bi-list h1"></i>
                            </button>
                        </div>
                        <div class="align-items-end">
                            <div class="dropdown bg-black">
                                <a href="#"
                                    class="d-flex align-items-center justify-content-center link-body-emphasis text-decoration-none dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle h5 bg-black link-light"></i>
                                </a>
                                <ul class="dropdown-menu text-small shadow">
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('logout') }}">
                                            <i class="bi bi-box-arrow-left h5"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="row flex-grow-1">
            <div class="col collapse collapse-horizontal bg-black text-white border-right col-md-auto show"
                id="sidebar-wrapper">
                <ul class="nav list-group list-group-flush flex-column mb-auto">
                    <li class="list-group-item bg-black">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                            <input type="radio" class="btn-check" name="btnradio" id="light-mode-button"
                                autocomplete="off" onclick="setMode('light')">
                            <label class="btn btn-outline-primary" for="light-mode-button">
                                <i class="bi bi-brightness-high"></i>
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="dark-mode-button"
                                autocomplete="off" onclick="setMode('dark')">
                            <label class="btn btn-outline-primary" for="dark-mode-button">
                                <i class="bi bi-moon"></i>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('home') }}">
                            <i class="bi bi-house-door-fill h5"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('admins') }}">
                            <i class="bi bi-person-badge h5"></i>
                            <span>Admins</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('users') }}">
                            <i class="bi bi-people-fill h5"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('profiles') }}">
                            <i class="bi bi-boxes h5"></i>
                            <span>Profiles</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('subjects') }}">
                            <i class="bi bi-collection-fill h5"></i>
                            <span>Subjects</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('exercises') }}">
                            <i class="bi bi-journal-bookmark-fill h5"></i>
                            <span>Exercises</span>
                        </a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('tasks') }}">
                            <i class="bi bi-check2-square h5"></i>
                            <span>Tasks</span>
                        </a>
                    </li>
                </ul>
                <!--
                <div class="dropdown border-top bg-black">
                    <a href="#"
                        class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle h5 bg-black link-light"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('logout') }}">
                                <i class="bi bi-box-arrow-left h5"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            -->
            </div>
            <div class="col container-fluid px-4 py-2">
                <!-- Content goes in here-->
                {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                <div id="flash" class="alert alert-warning" role="alert">
                    {% if msgs %}
                    <ul class="list">
                        {% for msg in msgs %}
                        <li class="item">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endif %}
                {% endwith %}

                {% block core %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>