<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" href="../static/css/styling.css">
    -->
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling1.css') }}">
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>CodeGrader</title>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="d-flex min-vh-100">

            <div class="bg-black text-light border-right col-md-auto sidebar" id="sidebar-wrapper">
                <ul class="nav bd-sidebar list-group list-group-flush">
                    <li class="list-group-item bg-black">
                        <a class="nav-link " href="javascript:void(0)" onclick="toggleMode()">Light/Dark Mode</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('admins') }}">Admins</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('users') }}">Users</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('profiles') }}">Profiles</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('subjects') }}">Subjects</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('exercises') }}">Exercises</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('tasks') }}">Tasks</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link" href="{{ url_for('logout') }}" class="btn_logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container-fluid px-4 py-1">
                <!-- Content goes in here-->
                {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                <div id="flash" class="main flash">
                    {% if msgs %}
                    <ul class="list">
                        {% for msg in msgs %}
                        <li class="item">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endif %}
                {% endwith %}

                {% block core %}
                {% endblock %}
            </div>
        </div>
    </div>





</body>

</html>