<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" href="../static/css/styling.css">
    -->
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling1.css') }}">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>CodeGrader</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico')}}">
</head>

<body onload="loadMode()">
    <script>
        /*
        function toggleMode() {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                document.documentElement.setAttribute('data-bs-theme', 'light')
                document.getElementById('light-mode-button').classList.add('active');
                document.getElementById('dark-mode-button').classList.remove('active');
                localStorage.setItem('theme', 'light');
            }
            else {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
                document.getElementById('light-mode-button').classList.remove('active');
                document.getElementById('dark-mode-button').classList.add('active');
                localStorage.setItem('theme', 'dark');
            }

        }
        */

        function setMode(color_mode) {
            document.documentElement.setAttribute('data-bs-theme', color_mode)
            localStorage.setItem('theme', color_mode);
        }

        function loadMode() {
            var color_mode = localStorage.getItem('theme') || 'dark';
            document.documentElement.setAttribute('data-bs-theme', color_mode)
            console.log(color_mode);
            if (color_mode == 'dark') {
                document.getElementById('dark-mode-button').classList.add('active');
                document.getElementById('dark-mode-button').setAttribute("checked", "")
                document.getElementById('light-mode-button').classList.remove('active');
                document.getElementById('light-mode-button').removeAttribute("checked", "")

            }
            else {
                document.getElementById('light-mode-button').classList.add('active');
                document.getElementById('light-mode-button').setAttribute("checked", "")
                document.getElementById('dark-mode-button').classList.remove('active');
                document.getElementById('dark-mode-button').removeAttribute("checked", "")
            }
            localStorage.setItem('theme', color_mode);
        }
    </script>

    <div class="container-fluid p-0">
        <div class="d-flex min-vh-100">
            <div class="d-flex flex-column bg-black text-light border-right col-md-auto sidebar" id="sidebar-wrapper">
                <ul class="nav bd-sidebar flex-column mb-auto list-group list-group-flush">
                    <li class="list-group-item bg-black">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                            <input type="radio" class="btn-check" name="btnradio" id="light-mode-button"
                                autocomplete="off" onclick="setMode('light')">
                            <label class="btn btn-outline-primary" for="light-mode-button">
                                <i class="bi bi-brightness-high"></i>
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="dark-mode-button"
                                autocomplete="off" onclick="setMode('dark')">
                            <label class="btn btn-outline-primary" for="dark-mode-button">
                                <i class="bi bi-moon"></i>
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('admins') }}">Admins</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('users') }}">Users</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('profiles') }}">Profiles</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('subjects') }}">Subjects</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('exercises') }}">Exercises</a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a class="nav-link link-light" href="{{ url_for('tasks') }}">Tasks</a>
                    </li>
                </ul>
                <div class="dropdown border-top">
                    <a href="#"
                        class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid px-4 py-1">
                <!-- Content goes in here-->
                {% with msgs = get_flashed_messages() %}
                {% if msgs %}
                <div id="flash" class="alert alert-warning" role="alert">
                    {% if msgs %}
                    <ul class="list">
                        {% for msg in msgs %}
                        <li class="item">{{ msg }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endif %}
                {% endwith %}

                {% block core %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>