{% extends "base.html" %}

{% block core %}
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Delete Admin {{ username }}</h1>
    </div>
    <div class="row">
        <p>Admin {{ username }}</p>
    </div>
    <div class="row">
        Are you sure you wanna delete Admin {{ username }}?
    </div>


    <div class="row">


        <form action="{{url_for('deleteAdmin', id_ = id)}}" method="POST" class="core_content">
            <div id="control_buttons">
                <button name="action_button" id="btn_submit" class="btn btn-success" type="submit"
                    value="Submit">Submit</button>
                <button name="action_button" id="btn_submit" class="btn btn-danger" type="submit"
                    value="Cancel">Cancel</button>
            </div>
        </form>
    </div>




</div>
{% endblock core %}