{% extends "base.html" %}

{% block core %}
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Delete Attachment {{ file["filename"] }}</h1>
    </div>
    <div class="row">
        <p>Attachment {{ file["filename"] }}</p>
    </div>
    
    <div class="row">
        Are you sure you wanna delete the Attachment {{ file["filename"] }}?
    </div>


    <div class="row">
        <form action="{{url_for('deleteTaskAttachment', task_id_ = task_id_, attachment_id_ = id)}}" method="POST">
            <div id="control_buttons">
                <button name="action_button" id="btn_submit" class="btn btn-success" type="submit"
                    value="Submit">Submit</button>
                <button name="action_button" id="btn_submit" class="btn btn-danger" type="submit"
                    value="Cancel">Cancel</button>
            </div>
        </form>
    </div>
    




</div>
{% endblock core %}