<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1">Exercise {{ name }}</h1>
    </div>
    <div class="row">
        <p>Exercise {{ name }}</p>
    </div>

    <div class="row">
        <form action="{{url_for('exercise', id_ = id)}}" method="POST">
            <div class="table-responsive" id="exercise_data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                    id="input_name" name="name" value="{{ name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Tag</td>
                            <td>
                                <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                    id="input_tag" name="tag" value="{{ tag }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="data">Subject</td>
                            {% if editable %}
                            <td class="data">
                                <select id="sel_subject" name="subject">
                                    {% for sub in subjects %}
                                    {% if sub['id'] == subject['id'] %}
                                    <option value="{{ sub['id'] }}" selected>
                                        {{ sub['name'] }}
                                    </option>
                                    {% else %}
                                    <option value="{{ sub['id'] }}">
                                        {{ sub['name'] }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            {% else %}
                            <td class="data">
                                <input class="input" type="text" id="input_subject" name="subject"
                                    value="{{ subject['name'] }}" {% if not editable %} readonly {% endif %}>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteExercise">Delete Excercise</button>
            </div>
            {% endif %}
        </form>
    </div>

    {% if editable %}
    <div class="modal fade" id="deleteExercise" tabindex="-1" role="dialog" aria-labelledby="deleteExerciseTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteExerciseTitle">Delete Exercise {{ name }} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Do you really wanna delete the Exercise {{ name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deleteExercise', id_ = id)}}" method="POST">
                        <div id="control_buttons">
                            <button name="action_button" id="btn-deleteExercise" class="btn btn-danger" type="submit"
                                value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelTasks" aria-expanded="false" aria-controls="panelTasks">
                        Tasks
                    </button>
                </h2>
                <div id="panelTasks" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            <ul class="list-group list-group-flush">
                                {% for t in tasks | sort(attribute='name') %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('task', id_ = t['id']|string) }}">
                                        {{ t["name"] }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock core %}