{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Exercise {{ name }}</h1>
    </div>
    <div class="row">
        <p class="core_content">Exercise {{ name }}</p>
    </div>

    <div class="row">
        <form action="{{url_for('exercise', id_ = id)}}" method="POST">
            <div class="table-responsive" id="exercise_data">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_name"
                                name="name" value="{{ name }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Tag</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                                name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Subject</td>
                        {% if editable %}
                        <td class="data">
                            <select id="sel_subject" name="subject">
                                {% for sub in subjects %}
                                {% if sub['id'] == subject['id'] %}
                                <option value="{{ sub['id'] }}" selected>
                                    {{ sub['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ sub['id'] }}">
                                    {{ sub['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td class="data">
                            <input class="input" type="text" id="input_subject" name="subject"
                                value="{{ subject['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
            {% endif %}
        </form>
    </div>

    {% if editable %}
    <div class="row py-2"></div>
        <form action="{{ url_for('deleteExercise', id_=id) }}" class="core_content" method="GET">
            <button class="btn btn-danger" type="submit">Delete Exercise</button>
        </form>
    </div>
    {% endif %}


    <div class="py-4">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" href="#collapseTasks" role="button"
            aria-expanded="false" aria-controls="collapseTasks">
            Tasks
        </button>
        <div class="collapse p-4" id="collapseTasks">
            <div>
                {% for t in tasks %}
                <a class="core_content" href="{{ url_for('task', id_ = t['id']|string) }}">
                    {{ t["name"] }}
                </a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock core %}