{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Exercise {{ name }}</h1>
    </div>
    <p class="core_content">Exercise {{ name }}</p>

    <form action="{{url_for('exercise', id_ = id)}}" method="POST" class="core_content">
        <div id="exercise_data">
            <table class="vertical_table">
                <tr>
                    <td class="data">Name</td>
                    <td class="data">
                        <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_name"
                            name="name" value="{{ name }}">
                    </td>
                </tr>
                <tr>
                    <td class="data">Tag</td>
                    <td class="data">
                        <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                            name="tag" value="{{ tag }}">
                    </td>
                </tr>
                <tr>
                    <td class="data">Subject</td>
                    {% if editable %}
                    <td class="data">
                        <select id="sel_subject" name="subject">
                            {% for sub in subjects %}
                            {% if sub['name'] == subject_name %}
                            <option value="{{ sub['id'] }}" selected>
                                {{ sub['name'] }}
                            </option>
                            {% else %}
                            <option value="{{ sub['id'] }}">
                                {{ sub['name'] }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    {% else %}
                    <td class="data">
                        <input class="input" type="text" id="input_profile" name="profile" value="{{ profile['name'] }}"
                            {% if not editable %} readonly {% endif %}>
                    </td>
                    {% endif %}
                </tr>
            </table>
        </div>
        {% if editable %}
        <div id="control_buttons">
            <button id="btn_submit" class="btn btn_submit" type="submit">Submit</button>
        </div>
        {% endif %}
    </form>
    {% if editable %}
    <form action="{{ url_for('deleteExercise', id_=id) }}" method="GET">
        <button class="btn btn_delete" type="submit">Delete Exercise</button>
    </form>
    {% endif %}
</div>
{% endblock core %}