<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <title>CodeGrader Login</title>
</head>

<body>
    {% with msgs = get_flashed_messages() %}
    {% if msgs %}
    <div id="flash" class="main flash">
        {% if msgs %}
        <ul class="list">
            {% for msg in msgs %}
            <li class="item">{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
    {% endwith %}

    
    <form action="{{ url_for('login') }}" method="POST">
        <div class="container-fluid" id="login">

            <div class="row justify-content-center">
                <div class="col-4 p-2">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-4 p-1">
                    <input id="input_username" class="input" name="username" placeholder="Username">
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-4 p-1">
                    <input id="input_password" type="password" class="input" name="password" placeholder="Password">
                </div>
                
            </div>

            <div class="row justify-content-center">
                <div class="col-4 p-1">
                    <button id="btn_login" class="btn btn-success">Login</button>
                </div>
                
            </div>
            
            
        </div>
    </form>
</body>

</html>