{% extends "base.html" %}

{% block core %}
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="main">
        <div>
            <h1 class="header1 core_content">Profile</h1>
        </div>
        <p class="core_content">Profile</p>
        {% if this.admin.check_permission('w', create_object='profile') %}
            <div>
                <form action="{{ url_for('addProfile') }}" method="GET">
                    <button class="btn btn_create" type="submit">New Profile</button>
                </form>

            </div>
        {% endif %}
        <table class="core_content table">
            <tr>
                <th class="head">Name</th>
                <th class="head">Tag</th>
            </tr>
            {% for prof in profile %}
                <tr>
                    <td class="data">
                        <a href="{{ url_for('profile', id_ = prof['id']|string) }}">
                            {{ prof["name"] }}
                        </a>
                    </td>
                    <td class="data">{{ prof["tag"] }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock core %}