<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<div id="main" class="main">
    <div>
        <h1 class="header1">Subject {{ name }}</h1>
    </div>
    <div class="row">
        <p>Subject {{ name }}</p>
    </div>

    <div class="row">


        <form action="{{url_for('subject', id_ = id)}}" method="POST" class="core_content">
            <div class="table-responsive" id="subject_data">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                    id="input_name" name="name" value="{{ name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Tag</td>
                            <td>
                                <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                    id="input_tag" name="tag" value="{{ tag }}">
                            </td>
                        </tr>
                        <tr>
                            <td class="data">Profile</td>
                            {% if editable %}
                            <td>
                                <select id="sel_profile" name="profile">
                                    {% if not profile[id] %}
                                    {% endif %}
                                    {% for prof in profiles %}
                                    {% if prof['id'] == profile['id'] %}
                                    <option value="{{ prof['id'] }}" selected>
                                        {{ prof['name'] }}
                                    </option>
                                    {% else %}
                                    <option value="{{ prof['id'] }}">
                                        {{ prof['name'] }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            {% else %}
                            <td>
                                <input type="text" id="input_profile" name="profile" value="{{ profile['name'] }}" {% if
                                    not editable %} readonly {% endif %}>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if editable%}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteSubject">Delete Subject</button>
            </div>
            {% endif %}

        </form>
    </div>

    {% if editable %}
    <div class="modal fade" id="deleteSubject" tabindex="-1" role="dialog" aria-labelledby="deleteSubjectTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteSubjectTitle">Delete Subject {{ name }} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Do you really wanna delete the Subject {{ name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deleteSubject', id_ = id)}}" method="POST">
                        <div id="control_buttons">
                            <button name="action_button" id="btn-deleteSubject" class="btn btn-danger" type="submit"
                                value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelscores" aria-expanded="false" aria-controls="panelscores">
                        Scores
                    </button>
                </h2>
                <div id="panelscores" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            {% if scores %}
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Max Score
                                    </th>
                                </tr>

                                {% for sc in scores | sort(attribute='user_id') %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('user', id_ = sc['user_id']|string) }}">
                                            {{ sc["username"] }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ sc["score"] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelExercises" aria-expanded="false" aria-controls="panelExercises">
                        Exercises
                    </button>
                </h2>
                <div id="panelExercises" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            <ul class="list-group list-group-flush">
                                {% for ex in exercises | sort(attribute='name') %}
                                <li class="list-group-item">
                                    <a href="{{ url_for('exercise', id_ = ex['id']|string) }}">
                                        {{ ex["name"] }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelMemberships" aria-expanded="false" aria-controls="panelMemberships">
                        Memberships
                    </button>
                </h2>
                <div id="panelMemberships" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            {% if memberships %}
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        First Name
                                    </th>
                                    <th>
                                        Last Name
                                    </th>
                                </tr>

                                {% for memb in memberships | sort(attribute='name') %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('user', id_= memb['user_id']) }}">
                                            {{ memb["user"]["username"] }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ memb["user"]["first_name"] }}
                                    </td>
                                    <td>
                                        {{ memb["user"]["last_name"] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock core %}