{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Task {{ name }}</h1>
    </div>
    <div class="row">
        <p class="core_content">Task {{ name }}</p>
    </div>

    <div class="row">
        <form action="{{url_for('task', id_ = id)}}" method="POST" class="core_content">
            <div id="task_data">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_name"
                                name="name" value="{{ name }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Tag</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                                name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Exercise</td>
                        {% if editable %}
                        <td>
                            <select id="sel_exercise" name="exercise">
                                {% for ex in exercises | sort(attribute='name') %}
                                {% if ex['id'] == exercise['id'] %}
                                <option value="{{ ex['id'] }}" selected>
                                    {{ ex['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ ex['id'] }}">
                                    {{ ex['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td>
                            <input class="input" type="text" id="input_exercises" name="exercise"
                                value="{{ exercise['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
            {% endif %}
        </form>
    </div>


    {% if editable %}
    <div class="row py-2">
        <form action="{{ url_for('deleteTask', id_=id) }}" method="GET">
            <button class="btn btn-danger" type="submit">Delete Task</button>
        </form>
    </div>

    {% endif %}


    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelInstructions" aria-expanded="false" aria-controls="panelInstructions">
                        Instructions
                    </button>
                </h2>
                <div id="panelInstructions" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            <ul class="list-group list-group-flush py-2">
                                {% if instructions %}
                                {% for inst in instructions %}
                                <li class="list-group-item">
                                    <i class="bi bi-filetype-{{ inst['file']['fileExtension'] }}"></i>
                                    <a href="{{ url_for('TaskInstruction', task_id_= id, instruction_id_ = inst['id']) }}"
                                        target="_blank" download="{{ inst['file']['filename'] }}">
                                        {{ inst["file"]["filename"] }}
                                    </a>
                                    {% if editable %}
                                    <a
                                        href="{{ url_for('deleteTaskInstruction', task_id_= id, instruction_id_ = inst['id']) }}">
                                        <i class="bi bi-x-circle"></i>
                                    </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                            {% if editable %}
                            <form class="core_content" action="{{ url_for('addTaskInstruction', id_=id) }}"
                                method="POST" enctype="multipart/form-data">
                                <input type="file" id="myFile" name="file_name">
                                <input type="submit">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelattachments" aria-expanded="false" aria-controls="panelattachments">
                        Attachments
                    </button>
                </h2>
                <div id="panelattachments" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            <ul class="list-group list-group-flush py-2">
                                {% if attachments %}
                                {% for att in attachments %}
                                <li class="list-group-item">
                                    <i class="bi bi-filetype-{{ att['file']['fileExtension'] }}"></i>
                                    <a href="{{ url_for('TaskAttachment', task_id_= id, attachment_id_ = att['id']) }}"
                                        target="_blank" download="{{ att['file']['filename'] }}">
                                        {{ att["file"]["filename"] }}
                                    </a>
                                    {% if editable %}
                                    <a
                                        href="{{ url_for('deleteTaskAttachment', task_id_= id, attachment_id_ = att['id']) }}">
                                        <i class="bi bi-x-circle"></i>
                                    </a>
                                    {% endif %}
                                </li>

                                {% endfor %}
                                {% endif %}
                            </ul>
                            {% if editable %}
                            <form class="core_content" action="{{ url_for('addTaskAttachment', id_=id) }}" method="POST"
                                enctype="multipart/form-data">
                                <input type="file" id="myFile" name="fileme.py">
                                <input type="submit">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsubmissions" aria-expanded="false" aria-controls="panelsubmissions">
                        Submissions
                    </button>
                </h2>
                <div id="panelsubmissions" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            {% if submissions %}
                            <table class="table">
                                <tr>
                                    <th>
                                        Submission_id
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Submission File
                                    </th>
                                </tr>

                                {% for sub in submissions %}
                                <tr>
                                    <td>
                                        {{ sub["id"] }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('user', id_ = sub['user']['id']|string) }}">
                                            {{ sub["user"]["username"] }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url_for('SubmissionFile', id_ = sub['id']) }}" target="_blank"
                                            download="{{ sub['file']['filename'] }}">
                                            {{ sub["file"]["filename"]}}
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock core %}