{% extends "base.html" %}

{% block core %}
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="main">
        <div>
            <h1 class="header1 core_content">Task {{ name }}</h1>
        </div>
        <p class="core_content">Task {{ name }}</p>
        
        <form action="{{url_for('task', id_ = id)}}" method="POST" class="core_content">
            <div id="task_data">
                <table class="vertical_table">
                    <tr>
                        <td class="data">Name</td>
                        <td class="data">
                            <input class="input" type="text" id="input_name" name="name" value="{{ name }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="data">Tag</td>
                        <td class="data">
                            <input class="input" type="text" id="input_tag" name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                </table>
            </div>
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn_submit" type="submit">Submit</button>
            </div>
        </form>
        <form action="{{ url_for('deleteTask', id_=id) }}" method="GET">
            <button class="btn btn_delete" type="submit">Delete Task</button>
        </form>
    </div>
{% endblock core %}
