<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<script>
    // custom scripts to udpate the modals, each time, that they are getting opened. 
    function updateDeleteTaskInstruction(task_id, instruction_id) {
        document.getElementById("deleteTaskInstructionBodyText").innerHTML = `Do you really wanna delete this Instruction?`;
        document.getElementById("deleteTaskInstructionForm").action = `/task/${task_id}/instruction/${instruction_id}/delete`;
    };


    function updateDeleteTaskAttachment(task_id, attachment_id) {
        document.getElementById("deleteTaskAttachmentBodyText").innerHTML = `Do you really wanna delete this Attachment?`;
        document.getElementById("deleteTaskAttachmentForm").action = `/task/${task_id}/attachment/${attachment_id}/delete`;
    };

    function updateDeleteTestCase(testcase_id) {
        document.getElementById("deleteTestCaseBodyText").innerHTML = `Do you really wanna delete this Attachment?`;
        document.getElementById("deleteTestCaseForm").action = `/testcase/${testcase_id}/delete`;
    };

</script>
<div id="main" class="main">
    <div>
        <h1 class="header1">Task {{ name }}</h1>
    </div>
    <div class="row">
    </div>

    <div class="row">
        <form action="{{url_for('task', id_ = id)}}" method="POST">
            <div id="task_data">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td class="w-auto">
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_name"
                                name="name" value="{{ name }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            <textarea class="input" {% if not editable %} readonly {% endif %} type="text" id="input_description"
                                      name="description" rows="3" cols="100">{{ description }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Tag</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                                name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Exercise</td>
                        {% if editable %}
                        <td>
                            <select id="sel_exercise" name="exercise">
                                {% for ex in exercises | sort(attribute='name') %}
                                {% if ex['id'] == exercise['id'] %}
                                <option value="{{ ex['id'] }}" selected>
                                    {{ ex['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ ex['id'] }}">
                                    {{ ex['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td>
                            <input class="input" type="text" id="input_exercises" name="exercise"
                                value="{{ exercise['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTask">Delete
                    Task</button>
            </div>
            {% endif %}
        </form>
    </div>

    {% if editable %}
    <div class="modal fade" id="deleteTask" tabindex="-1" role="dialog" aria-labelledby="deleteTaskTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteTaskTitle">Delete Task {{ name }} ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Do you really wanna delete the Task {{ name }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deleteTask', id_ = id)}}" method="POST">
                        <div id="control_buttons_deleteTask">
                            <button name="action_button" id="btn-deleteTask" class="btn btn-danger" type="submit"
                                value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelInstructions" aria-expanded="false" aria-controls="panelInstructions">
                        Instructions
                    </button>
                </h2>
                <div id="panelInstructions" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            <ul class="list-group list-group-flush py-2">
                                {% if instructions %}
                                {% for inst in instructions | sort(attribute='filename') %}
                                <li class="list-group-item">
                                    <i class="bi bi-filetype-{{ inst['file']['fileExtension'] }}"></i>
                                    <a href="{{ url_for('TaskInstruction', task_id_= id, instruction_id_ = inst['id']) }}"
                                        target="_blank" download="{{ inst['file']['filename'] }}">
                                        {{ inst["file"]["filename"] }}
                                    </a>
                                    {% if editable %}
                                    <i class="bi bi-x-circle" data-bs-toggle="modal"
                                        onclick="updateDeleteTaskInstruction({{ id }}, {{ inst['id'] }})"
                                        data-bs-target="#deleteTaskInstruction"></i>
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                            {% if editable %}
                            <form action="{{ url_for('addTaskInstruction', id_=id) }}" method="POST"
                                enctype="multipart/form-data">
                                <input type="file" id="myFile" name="file_name">
                                <input type="submit">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelattachments" aria-expanded="false" aria-controls="panelattachments">
                        Attachments
                    </button>
                </h2>
                <div id="panelattachments" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            <ul class="list-group list-group-flush py-2">
                                {% if attachments %}
                                {% for att in attachments | sort(attribute='filename') %}
                                <li class="list-group-item">
                                    <i class="bi bi-filetype-{{ att['file']['fileExtension'] }}"></i>
                                    <a href="{{ url_for('TaskAttachment', task_id_= id, attachment_id_ = att['id']) }}"
                                        target="_blank" download="{{ att['file']['filename'] }}">
                                        {{ att["file"]["filename"] }}
                                    </a>
                                    {% if editable %}
                                    <i class="bi bi-x-circle" data-bs-toggle="modal"
                                        onclick="updateDeleteTaskAttachment({{ id }}, {{ att['id'] }})"
                                        data-bs-target="#deleteTaskAttachment"></i>
                                    {% endif %}
                                </li>

                                {% endfor %}
                                {% endif %}
                            </ul>
                            {% if editable %}
                            <form action="{{ url_for('addTaskAttachment', id_=id) }}" method="POST"
                                enctype="multipart/form-data">
                                <input type="file" id="myFile" name="file.txt">
                                <input type="submit">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if editable %}
    <div class="modal fade" id="deleteTaskInstruction" tabindex="-1" role="dialog"
        aria-labelledby="deleteTaskInstructionTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteTaskInstructionTitle">Delete Instruction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="deleteTaskInstructionBodyText">
                    Do you really wanna delete the Instruction?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form id="deleteTaskInstructionForm"
                        action="{{url_for('deleteTaskInstruction', task_id_ = id, instruction_id_ = 0)}}" method="POST">
                        <div id="control_buttons_deleteTaskInstruction">
                            <button name="action_button" id="btn-deleteTaskInstruction" class="btn btn-danger"
                                type="submit" value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTaskAttachment" tabindex="-1" role="dialog"
        aria-labelledby="deleteTaskAttachmentTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteTaskAttachmentTitle">Delete Attachment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="deleteTaskAttachmentBodyText">
                    Do you really wanna delete the Attachment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form id="deleteTaskAttachmentForm"
                        action="{{url_for('deleteTaskInstruction', task_id_ = id, instruction_id_ = 0)}}" method="POST">
                        <div id="control_buttons_deleteTaskAttachment">
                            <button name="action_button" id="btn-deleteTaskAttachment" class="btn btn-danger"
                                type="submit" value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#paneltestcases" aria-expanded="false" aria-controls="paneltestcases">
                        Testcases
                    </button>
                </h2>
                <div id="paneltestcases" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            {% if testcases %}
                            <table class="table">
                                <tr>
                                    <th>
                                        Testcase_ID
                                    </th>
                                    <th>
                                        Input_File
                                    </th>
                                    <th>
                                        Output_File
                                    </th>
                                    <th>
                                    </th>
                                </tr>

                                {% for tc in testcases | sort(attribute='id') %}
                                <tr>
                                    <td>
                                        {{ tc["id"] }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('TestCaseInputFile', id_ = tc['id']) }}" target="_blank"
                                            download="{{ tc['input_file']['filename'] }}">
                                            {{ tc["input_file"]["filename"]}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url_for('TestCaseOutputFile', id_ = tc['id']) }}" target="_blank"
                                            download="{{ tc['output_file']['filename'] }}">
                                            {{ tc["output_file"]["filename"]}}
                                        </a>
                                    </td>
                                    {% if editable %}
                                    <td>
                                        <i class="bi bi-x-circle" data-bs-toggle="modal"
                                        onclick="updateDeleteTestCase({{ tc['id'] }})"
                                        data-bs-target="#deleteTestCase"></i>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                        {% if editable %}
                        <div class="row py-2">
                            <form action="{{ url_for('addTestCase', id_=id) }}" method="GET">
                                <button class="btn btn-success" type="submit">Add Testcase</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if editable %}
    <div class="modal fade" id="deleteTestCase" tabindex="-1" role="dialog"
        aria-labelledby="deleteTestCaseTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="deleteTestCaseTitle">Delete Testcase</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body" id="deleteTestCaseBodyText">
                    Do you really wanna delete the Testcase?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form id="deleteTestCaseForm"
                        action="{{ url_for('deleteTestCase', id_ = 0) }}" method="POST">
                        <div id="control_buttons_deleteTestCase">
                            <button name="action_button" id="btn-deleteTestCase" class="btn btn-danger"
                                type="submit" value="Submit">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelscores" aria-expanded="false" aria-controls="panelscores">
                        Scores
                    </button>
                </h2>
                <div id="panelscores" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            {% if scores %}
                            <table class="table">
                                <tr>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Max Score
                                    </th>
                                </tr>

                                {% for sc in scores | sort(attribute='user_id') %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('user', id_ = sc['user_id']|string) }}">
                                            {{ sc["username"] }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ sc["score"] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-4">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsubmissions" aria-expanded="false" aria-controls="panelsubmissions">
                        Submissions
                    </button>
                </h2>
                <div id="panelsubmissions" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div>
                            {% if submissions %}
                            <table class="table">
                                <tr>
                                    <th>
                                        Submission_id
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Submission File
                                    </th>
                                    <th>
                                        Max Score
                                    </th>
                                </tr>

                                {% for sub in submissions | sort(attribute='id') %}
                                <tr>
                                    <td>
                                        {{ sub["id"] }}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('user', id_ = sub['user']['id']|string) }}">
                                            {{ sub["user"]["username"] }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url_for('SubmissionFile', id_ = sub['id']) }}" target="_blank"
                                            download="{{ sub['file']['filename'] }}">
                                            {{ sub["file"]["filename"]}}
                                        </a>
                                    </td>
                                    <td>
                                        {{ sub["state"] }}
                                    </td>
                                    <td>
                                        {{ sub["max_score"] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock core %}