{% extends "base.html" %}

{% block core %}
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="main">
        <div>
            <h1 class="header1 core_content">Tasks</h1>
        </div>
        <p class="core_content">Tasks</p>
        {% if this.admin.check_permission('w', create_object='task') %}
            <div>
                <form action="{{ url_for('addTask') }}" method="GET">
                    <button class="btn btn_create" type="submit">New Task</button>
                </form>

            </div>
        {% endif %}

        <table class="core_content table">
            <tr>
                <th class="head">Name</th>
                <th class="head">Tag</th>
            </tr>
            {% for t in task %}
                <tr>
                    <td class="data">
                        <a href="{{ url_for('task', id_ = t['id']|string) }}">
                            {{ t["name"] }}
                        </a>
                    </td>
                    <td class="data">{{ t["tag"] }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock core %}