{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1">User {{ username }}</h1>
    </div>
    <div class="row">
        <p class="core_content">User {{ username }}</p>
    </div>

    <div class="row">
        <form action="{{url_for('user', id_ = id)}}" method="POST">
            <div id="user_data">
                <table class="table">
                    <tr>
                        <td>Username</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_username" name="username" value="{{ username }}">
                        </td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_first_name" name="first_name" value="{{ first_name }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text"
                                id="input_last_name" name="last_name" value="{{ last_name }}">
                        </td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_email"
                                name="email" value="{{ email }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Tag</td>
                        <td>
                            <input class="input" {% if not editable %} readonly {% endif %} type="text" id="input_tag"
                                name="tag" value="{{ tag }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Profile</td>
                        {% if editable %}
                        <td class="data">
                            <select id="sel_profile" name="profile">
                                {% if not profile[id] %}
                                {% endif %}
                                {% for prof in profiles %}
                                {% if prof['id'] == profile['id'] %}
                                <option value="{{ prof['id'] }}" selected>
                                    {{ prof['name'] }}
                                </option>
                                {% else %}
                                <option value="{{ prof['id'] }}">
                                    {{ prof['name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        {% else %}
                        <td>
                            <input class="input" type="text" id="input_profile" name="profile"
                                value="{{ profile['name'] }}" {% if not editable %} readonly {% endif %}>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            {% if editable %}
            <div id="control_buttons">
                <button id="btn_submit" class="btn btn-success" type="submit">Submit</button>
            </div>
            {% endif %}

        </form>
    </div>


    {% if editable %}
    <div class="row py-2">
        <form action="{{ url_for('deleteUser', id_=id) }}" method="GET">
            <button class="btn btn-danger" type="submit">Delete User</button>
        </form>
    </div>
    {% endif %}
</div>



</div>
{% endblock core %}