<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1 core_content">Home</h1>
    </div>
    <p>Welcome to the CodeGrader</p>
    <p>A project from University of Bern and BeLearn</p>
    <div class="row py-4">
        <div class="col d-flex align-items-center mb-4">
            <div class="card text-center" style="width: 25rem;">
                <img src="{{ url_for('static', filename='img/ube.png') }}" alt="University of Bern">
                <div class="card-body">
                  <h5 class="card-title">University of Bern</h5>
                  <p class="card-text">University of Bern</p>
                  <a href="https://www.unibe.ch/" class="btn btn-primary">UniBe</a>
                </div>
              </div>
        </div>
        <div class="col d-flex align-items-center mb-4">
            <div class="card text-center" style="width: 25rem;">
                <img src="{{ url_for('static', filename='img/belearn.png') }}" alt="BeLearn">
                <div class="card-body">
                  <h5 class="card-title">BeLearn </h5>
                  <p class="card-text">BeLearn</p>
                  <a href="https://belearn.swiss/"" class="btn btn-primary">BeLearn</a>
                </div>
              </div>
        </div>
        <div class="col d-flex align-items-center mb-4">
            <div class="card text-center" style="width: 25rem;">
                <img src="{{ url_for('static', filename='img/phbern.png') }}" alt="PH Bern">
                <div class="card-body">
                  <h5 class="card-title">PH Bern</h5>
                  <p class="card-text">PH Bern</p>
                  <a href="https://www.phbern.ch/" class="btn btn-primary">PH Bern</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock core %}