<!--
CodeGrader - https://github.com/ooemperor/CodeGrader
Copyright © 2023, 2024 Michael Kaiser <michael.kaiser@emplabs.ch>

This file is part of CodeGrader.

CodeGrader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CodeGrader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeGrader.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}

{% block core %}
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="main">
    <div>
        <h1 class="header1">Settings</h1>
    </div>
    <div class="row">
        <p class="core_content">User {{ username }}</p>
    </div>

    <div class="row">

        <div id="user_data">
            <table class="table">
                <tr>
                    <td>Username</td>
                    <td>
                        {{ username }}
                    </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>
                        {{ first_name }}
                    </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>
                        {{ last_name }}
                    </td>
                </tr>
                <tr>
                    <td>E-Mail</td>
                    <td>
                        {{ email }}
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <button class="btn btn-primary" type="submit">Password Reset</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-center mx-2" style="max-width: 18rem;">
                <div class="card-header">
                    <h5>
                        Submissions
                    </h5>
                </div>
                <div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ submissions | length }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>
{% endblock core %}