[Unit]
Description=Running the Execution Servie of the CodeGrader
After=network.target

[Service]
User=root
WorkingDirectory=/
ExecStart=nohup cgExecutionService > /var/log/cgExecutionService.log &
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target