/*
Stylesheet for the CodeGrader Admin Frontend. 
*/

/*
side nav part was taken from w3schools and then adapted for the codeGrader needs. 
*/
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-left: 0;
}

.sidenav .btn_logout {
  position: absolute;
  padding: 20px 20px 8px 8px;
  top: 0;
  right: 0;
  font-size: 20px;
  margin-left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*
End of the w3 schools part. 
Begin of the custom parts of the stylesheet. 
*/

body {
  padding: 5px;
  background-color: rgb(32,33,36);
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin-left: 250px;
  transition: margin-left 500ms;
  position:relative;
}

.light-mode {
  background-color: white;
  color: black;
}


/*Containers start*/
.center {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}
/*Containers end*/


/*Core Content start*/
.core_content {
  margin-left: 35px;
}
/*Core content end*/


/*Buttons btn start*/
.btn {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: rgb(32,33,36);
}

.btn:hover {
  background-color: #808080; 
  color: rgb(32,33,36);
}

.btn-menu {
  position: absolute;
  color: #FFFFFF;
  top: 0;
  margin-left: 32px;
  font-size: 36px;
  margin-left: 0;
  margin-top: 10px;
  visibility: hidden;
  transition: visiblity 500ms;
}

.btn_submit{
  padding: 5px 10px;
}

.btn_delete {
  padding: 5px 10px;
  background-color: red;
}

.btn_login {
  margin: 10px;
}

.btn_create {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
/*Buttons btn end*/


/*Input start*/
.input {
  margin: 2px;
  align-items: center;
  width: 100%;

}

.input_login {
  margin: 10px;
  padding: 10px;
}
/*Input end*/


/*Label start*/
.label_input {
  margin: 10px;
  font-size: 20px;
}
/*label end*/


/*Headers start*/
.header1 {
  margin-top: 5px;
  margin-left: 35px;
}
/*Headers end*/

/* Table Styling start*/

.table {
  padding: 10px;
}

.table .head, .data {
  padding: 10px 20px;
  text-align: center;
}

.vertical_table {
  padding: 10px;
}

.vertical_table .head, .data {
  padding: 5px;
  text-align: center;
}

/* Table Styling end*/

.flash {
  background-color: red;
  padding: 10px;
}